{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Création de l'article</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a class=myButtona href="{{ path('post') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
