{% extends 'ProjetBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>A propos du Projet</h1>
    </header>
    <article>
        <p>Pour la réalisation de ce projet, nous avons étudié dans un premier temps  le framework Symfony. nous avons compris ainsi le fonctionnement de Symfony. Ce framework est simple et facile à utiliser pour le developpement web. Nous avons utilisé un bundle user de Friends of Symfony. Nous pouvons realiser des sites web beaucoup plus developper comme ajouter des fichiers, des photos, des videos, possiblité de faire un chatting etc ...  mais cela demande d'idée et une petite experience dans le web. 
        Nous avons pu voir aussi la gestion des utilisateurs et le formulaire de contact et autre fonctionnement que nous avons pas pu le mettre dans le projet mais que nous avons etudié la documentation. 

        L'essentiel nous avons compris le fonctionnement de Symfony.  </p>
    </article>
{% endblock %}
