{% extends 'ProjetBlogBundle::layout.html.twig' %}

{% block title %}Contact{% endblock%}

{% block body %}
    <header>
        <h1>Contact le Groupe</h1>
    </header>



    <p>Vous voulez nous contacter?</p>

    <form action="{{ path('ProjetBlogBundle_contact') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>

{% endblock %}

